@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');






body {
	margin: 0;
}

header {
	background: black;
	color: white;
	padding: 8px 0px 6px 40px;
	height: 45px;
	background-size: cover;
}

header h1 {
	display: inline;
	font-family: 'Saira Semi Condensed', sans-serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	
}

nav ul {
	display: inline;
	padding: 0px;
	float: left;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 12px;
}
nav ul li a {
	color: white;
	text-decoration: none;
}

#nav {
font-family: 'Montserrat', sans-serif;

}

.HOMERED {
	background-color: red;
	padding: 30px 10px 16px 10px;
}
.divider {
	background-color: red;
	height: 5px;
}
.HOMEBLACK:hover {
	background-color: #1F618D;
	padding: 30px 10px 16px 10px;
}


body {
	background-image: url("images/Aerial08.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;

}


.homesub {

				font-family: 'Raleway', sans-serif;
				margin:0;
				padding: 9% 5% 0% 55%;
				font-size: 18px;
				color: yellow;
}



.homedes {
				font-family: 'Raleway', sans-serif;
				margin: 0.5% 0% 0% 55%;
				font-size: 75px;
				color: white;
				background-color: rgba(0,0,0, 0.4);
				display: inline-block;
}

.homeprog {
	font-family: 'Oswald', sans-serif;
	margin: 0% 0% 0% 55%;
	font-size: 64px;
	color: black;
	display: inline-block; 
	/*background-color: rgb(255,255,255);*/
}
.buttonhome {
	margin: 0% 0% 0% 55%;
	background: yellow;
	color: black;
	border: none;
	height: 50px;
	font-size: 1.4em;
	padding: 0 1em;
	cursor: pointer;
	outline: none;
	font-family: 'Raleway', sans-serif; 
	font-weight: 900;
}










